body {
  background-color: #fff;
}

.container {
  margin: 7% auto;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px 0 0 0;
  background-color: #fff;
}

.todo-title,
.input-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 0.01px solid #ccc;
}

input[type='text'] {
  width: 90%;
  border: none;
  padding: 15px 0;
}

input[type='text']:focus {
  outline: none;
}

input::placeholder {
  font-style: italic;
  font-weight: 200;
}

.todo-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  width: 90%;
}

.desc {
  margin-left: px;
  width: 90%;

  /* background-color: rebeccapurple; */
}

.flex-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.01px solid #ccc;
  padding: 0 10px;
}

.clear-box {
  background-color: rgb(239, 239, 239);
  text-align: center;
  padding: 20px;
}

.btn-clear {
  text-align: center;
  background: none;
  border: none;
  color: rgb(133, 133, 133);
}

.btn-clear:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.fa-ellipsis-vertical {
  margin-right: 8px;
  color: #ccc;
}

.fa-plus {
  color: #ccc;
  font-size: 20px;
}

.fa-turn-down {
  color: #ccc;
  transform: rotate(90deg);
  font-size: 10px;
  margin-right: 10px;
}

.hidden {
  display: none;
}
